<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The list of AWS service prefix</title>
    <link
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css"
      rel="stylesheet"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LKEQET3MF4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LKEQET3MF4");
    </script>
  </head>
  <body>
    <h1>The list of AWS service prefix</h1>

    <div>
      <p>
        AWS service prefix is the namespace that identifies the AWS product.<br />
        To learn more, see
        <a
          href="https://docs.aws.amazon.com/service-authorization/latest/reference/reference_policies_actions-resources-contextkeys.html"
          >Actions, resources, and condition keys for AWS services</a
        >
        on the AWS document.
      </p>
    </div>

    <table id="list-of-aws-service-prefix">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Service Prefix</th>
          <th>Event Source</th>
        </tr>
      </thead>
      <tbody>
        <% _.forEach(services, (service) => { %>
        <tr id="<%- _.kebabCase(service.name) %>">
          <td><a href="<%- service.url %>"><%- service.name %></a></td>
          <td><%- service.prefix %></td>
          <td><%- service.prefix %>.amazonaws.com</td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <footer>
      <p>
        Amazon Web Services, AWS, the Powered by AWS logo, and the
        <a href="https://aws.amazon.com/trademark-guidelines/">AWS Marks</a> are
        trademarks of Amazon.com, Inc. or its affiliates.
      </p>
    </footer>
  </body>
</html>
